<div class="jumbotron">
  <%= simple_form_for  @event do |f| %>
    <%= f.input :e_name, label:"Event name" %>
    <%= f.input :e_address, label:"Event address" %>
    <%= f.input :e_datetime, label:"Event time" %>
    <%= f.input :e_description, label:"Event description" %>
    <%= f.hidden_field :user_id, :value => current_user.id%><br />
    <i>1200x500 photo recommended for better view</i>
    <%= f.file_field :photo, :multiple => true %><br /><br />
    <i>300x300 photo recommended for new feeds page</i>
    <%= f.file_field :photo, :multiple => true %><br /><br />
    <%= f.submit %>
  <% end %>
</div>
