
<div class="jumbotron">

    <% flash.each do |key, value| %>
          <div class="flash"><%= value %></div>
        <% end %>

  <table class="table table-hover">

    <% @events.each_slice(3).each do |group| %>
    <% group.each do |evnt| %>
      <div
      <div class="col-md-4" style="margin-bottom:77px;">
          <h3 style=""><strong><%= link_to evnt.e_name, event_path(evnt), class:"entry" %></strong></h3>
          <p><strong><%= link_to formated_date(evnt.e_datetime.to_s.in_time_zone("Central Time (US & Canada)")), event_path(evnt), class:"entry" %></strong></p>
          <p><strong><%= link_to formated_time(evnt.e_datetime.to_s.in_time_zone("Central Time (US & Canada)")), event_path(evnt), class:"entry" %></strong></p>


          <div style="height:300px;width:300px;border-radius:37px 0 37px 0; box-shadow: 17px 17px 17px #d2d2d2;">
            <% if evnt.photo1_file_name == nil %>
            <%= image_tag 'default_title.jpg', style:"border-radius:37px 0 37px 0;" %>
            <% else %>
             <%= link_to image_tag(evnt.photo1.url(:medium), style:"display:flex;margin:auto;border-radius:37px 0 37px 0;"), event_path(evnt) %>
            <% end %>
          </div>
          <span title="Trash Event" >
            <%= link_to "events/#{evnt[:id]}", class: "glyphicon glyphicon-trash col-md-1", method: :delete, data: {confirm: "Are you sure?"} do %>
            <% end %>
          </span>
          <span title="Edit Event" >
            <%= link_to edit_event_path(evnt), class: "glyphicon glyphicon-pencil col-md-1" do %>
            <% end %>
          </span>
        </div>
        <% end %>
    </div>
    <% end %>

</table>

</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="background-color:rgba(0, 0, 0, 0);">
    <div class="item active">
      <%= image_tag "img1.jpg", :style=>"margin:auto;"%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "img2.jpg", :style=>"margin:auto;" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "img3.jpg", :style=>"margin:auto;" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "img4.jpg", :style=>"margin:auto;"%>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
