<%= link_to 'Go Back', events_path, class:"btn btn-danger", style:"font-size:17px"%><br /><br />

<div class="jumbotron">
  <h1><%= @event.e_name%></h1>


<% if @event.photo_file_name == nil %>
<%= image_tag 'default_photo.jpg', style:"height:100px;border:2px solid black;border-radius: 12px;" %>
<% else %>
<%= image_tag current_user.photo.url(:thumb) %>
<% end %>

<br />
  <p>Date: <%= formated_date(@event.e_datetime.to_s.in_time_zone("Central Time (US & Canada)")) %></p>
  <p>Time: <%= formated_time(@event.e_datetime.to_s.in_time_zone("Central Time (US & Canada)")) %></p>
  <p><%= @event.e_description%></p>
  <p><i>Address: <%= @event.e_address%></i>
  </p>
</div>
<div style="height: 400px" id="map"></div>
<script>
  var map;
  function getAddress() {
    $.get('https://maps.googleapis.com/maps/api/geocode/json?address=<%= @event.e_address %>')
    .success(function(data) {
      // console.log("Latitude:", data.results[0].geometry.location.lat)
      // console.log("Longitute:", data.results[0].geometry.location.lng)
      var geocodedAddress = data.results[0].geometry.location
      myMap = new google.maps.Map(document.getElementById('map'), {
        center: geocodedAddress,
        zoom: 16,
        content: 'Uluru (Ayers Rock)'
      });
      var marker = new google.maps.Marker({
        position: geocodedAddress,
        map: myMap,
      });
      var contentString = "<strong><%= @event.e_name %></strong><br />"+
      "<%= formated_date(@event.e_datetime.to_s.in_time_zone("Central Time (US & Canada)")) %><br /><i><%= @event.e_address %></i>"
      "<br /><i><%= @event.e_address %></i>"
      var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
  });
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGpU5i66YurDTpGk9tb9DLhoBGKPzxUBE&callback=getAddress"
    async defer></script>
