<!DOCTYPE html>
<html>
<head>
  <title>GIvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="container-fluid">

<%= render  'layouts/nav' %>

<br /><br /><br />
  <%= yield %>
</div>

<%# time_ago_in_words(Time.parse("July 23 2017")) %>


<div id="contacts">
  <div class="social"><a href="https://www.facebook.com/gnrlassembly/" target="_blank">&#62220;</a></div>
  <div class="social"><a href="https://plus.google.com/+GeneralAssembly" target="_blank">&#62223;</a></div>
    <div class="social"><a href="mailto:anilrm07@gmail.com">&#9993;</a></div>
  <div class="social"><a href="https://goo.gl/wHbfEl" target="_blank">&#59172;</a></div>
  <span id="change"><div class="social"><a id="mobile" href="tel:(213) 263-4147">&#128241;</a></div></span>


<footer><br /><br /><br />
<div class="ganey jumbotron">
Copyright &copy; AR -
<a href="mailto:anilrm07@gmail.com">GIvents</a><br>
Anil Rayamajhi<br>
AR-GIvents<br>
1520 2nd St<br />
CA 90401, Santa Monica<br />
(213) 263-4147
    </div>
</footer>

</body>
</html>
